$base: #000000;
$level-1: #181823;
$light-grey: #8491A0;
$dark-grey: #5B6876;
$text: #FFFFFF;
$primary: #5221E6;
$blue-accent: #609BFF;
$green-accent: #3CC74E;
$pink-accent: #E95D90;
$peach-accent: #FFF3E4;
$violet-accent: #FBE4FF;