.page-header {
  &__title {
    margin-bottom: 24px;
  }

  &__subtitle {
    margin-bottom: 40px;
    max-width: 640px;
    color: $light-grey;
  }

  &__link {
    display: block;
    width: fit-content;
    text-decoration: none;
    color: $text;
    border-bottom: 1px solid $light-grey;
    padding-bottom: 4px;
  }
}